[Desktop Entry]
Encoding=UTF-8
Name=Link to angular-cli/proxy.md at master · angular/angular-cli · GitHub
Type=Link
URL=https://github.com/angular/angular-cli/blob/master/docs/documentation/stories/proxy.md
Icon=text-html
Name[en_US]=PROXY
