
<form class="c-register--form card u-box-shadow ml-auto" [formGroup]="registerForm" (ngSubmit)="register()" >
  <h2>Register</h2>
  <md-form-field class="ui-full-width">
      <input mdInput placeholder="Username" formControlName="username">
  </md-form-field>
  <md-form-field class="ui-full-width">
      <input mdInput placeholder="Email" formControlName="email">
  </md-form-field>
  <md-form-field class="ui-full-width">
      <input mdInput placeholder="Password" formControlName="password">
  </md-form-field>
  <button class="btn-info c-register--register-btn">
      Register
  </button>
</form>









