@import '../../CssUtils/myUtils.scss';

.page-footer{

    background: $third-color;
    height: fit-content;
    min-height: $footerHeight; 
}

.page-footer-content{
    height: $footerHeight;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.trivago--icon{
    background: url('../../../white-logo.svg') no-repeat center;  
    height: 3em;
    width: 100%;
    
}

.trivago--icon--underling{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #eee;
}