@import '../../CssUtils/myUtils.scss';


app-login,app-register{
    min-height: 65vh;
    margin: 0 1em;
}

.p-login--body{
    padding-top:10em; 
    display: flex;
    height: 100%;
    align-content: center;
    align-items: baseline;
    justify-content: center;
}